.content {
  //max-width: 98%;
  margin-bottom: 20px;
}

.content2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);

  background-color: #3a3939;
  max-width: 1000px;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  margin-top: 20px;
  white-space: pre-wrap;
}

.odstep {
  padding-top: 5px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 2px;
}

.example-full-width {
  width: 100%;
}

.button {
  display: inline-block;
}

.divider {
  padding-left: 5px;
  display: inline-block;
}

.tekst {
  padding-top: 10px;
}

table {
  width: 100%;
}

.full-width {
  width: 350px;
}

.divider {
  padding-left: 5px;
  display: inline-block;
}

//mat-table below
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(100, 99, 99);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #3a3939;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  //border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  //height: 104px;
}

.example-element-symbol {
  //font-weight: bold;
  font-size: 18px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
