<div class="content">
    <h1>Dodaj aktuaności</h1>

    <form (ngSubmit)="onSubmit()">

        <div class="inputs">
            <label for="title">Tytuł</label>
            <input type="text" name="title" [(ngModel)]="post.title"> 
        </div>
    
        <div class="inputs">
            <label for="content">Treść</label>
            <textarea name="content" rows="30" cols="100" [(ngModel)]="post.content"></textarea>
        </div>

        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>

        <button type="submit" mat-raised-button color="warn">Publikuj</button>

    </form>

</div>