<div class="content">
    <h1>Dodaj aktuaności</h1>

    <hr>

    <form (ngSubmit)="onSubmit()">
        <mat-form-field class="titleWidth">
            <mat-label>Tytuł</mat-label>
            <input matInput name="title" [formControl]="titleFormControl" #titleInput>
            <mat-error *ngIf="titleFormControl.hasError('maxlength') && !titleFormControl.hasError('required')">
                Max 40 znaków
            </mat-error>
            <mat-error *ngIf="titleFormControl.hasError('required')">
                Tytuł nie może być pusty
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Treść</mat-label>
            <textarea matInput placeholder="Nowe ogłoszenie" [formControl]="trescFormControl" #trescInput></textarea>
            <mat-error *ngIf="trescFormControl.hasError('required')">
                Treść nie może być pusta
            </mat-error>
        </mat-form-field>

        <br><br>

        <button type="submit" [disabled]="!titleFormControl.valid || !trescFormControl.valid"
            mat-stroked-button>Publikuj</button>

    </form>

</div>