<div class="content">

    <h1>Stackblitz</h1>

    <hr>

    <div class="button">
        <div class="divider"></div>
        <button mat-stroked-button onclick="nowyProjekt_720()">Nowy Projekt (720)</button>
        <div class="divider"></div>
        <button mat-stroked-button onclick="nowyProjekt_1080()">Nowy Projekt (1080)</button>
        &nbsp;|
        <div class="divider"></div>
        <button mat-stroked-button onclick="zadanie1_720()">Zadanie 1 (720)</button>
        <div class="divider"></div>
        <button mat-stroked-button onclick="zadanie1_1080()">Zadanie 1 (1080)</button>
    </div>

</div>

<div id="stackblitzWindow"></div>

<div class="content2">

    <h1>Moje Zadania</h1>

    <hr>

    <form>
        <mat-form-field class="full-width">
            <mat-label>Link *</mat-label>
            <input type="text" matInput [formControl]="addFormControl"
                placeholder="https://stackblitz.com/github/bnmiokkpp" #addInput>
            <mat-error *ngIf="addFormControl.hasError('required')">
                Link nie może być pusty
            </mat-error>
        </mat-form-field>

        <div class="divider"></div>

        <button mat-stroked-button [disabled]="!addFormControl.valid" (keyup.enter)="add()"
            (click)="add()">Dodaj</button>
    </form>

    <div class="tekst">
        <table mat-table [dataSource]="zadania" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-diagram">
                            <div class="example-element-symbol">
                                {{element.ocena}}
                            </div>

                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>

</div>