<div class="content">

    <h1>Stackblitz</h1>

    <hr>

    <div class="button">
        <div class="divider"></div>
        <button mat-stroked-button onclick="nowyProjekt_720()">Nowy Projekt (720)</button>
        <div class="divider"></div>
        <button mat-stroked-button onclick="nowyProjekt_1080()">Nowy Projekt (1080)</button>
        &nbsp;|
        <div class="divider"></div>
        <button mat-stroked-button onclick="zadanie1_720()">Zadanie 1 (720)</button>
        <div class="divider"></div>
        <button mat-stroked-button onclick="zadanie1_1080()">Zadanie 1 (1080)</button>
        &nbsp;|
        <div class="divider"></div>
        <button mat-raised-button color="warn" (click)="helpButtonClick('helpModal');">Pomoc</button>
    </div>

</div>

<div id="stackblitzWindow"></div>

<div class="content2">

    <h1>Moje Zadania</h1>

    <hr>

    <form>
        <mat-form-field class="full-width">
            <mat-label>Tytuł *</mat-label>
            <input type="text" matInput [formControl]="titleFormControl" placeholder="Zadanie 1" #titleInput>
            <mat-error *ngIf="titleFormControl.hasError('required')">
                Tytuł nie może być pusty
            </mat-error>
            <mat-error *ngIf="titleFormControl.hasError('maxlength') && !titleFormControl.hasError('required')">
                Max 15 znaków
            </mat-error>
        </mat-form-field>

        &nbsp;

        <mat-form-field class="full-width">
            <mat-label>Link *</mat-label>
            <input type="text" matInput [formControl]="linkFormControl"
                placeholder="https://stackblitz.com/github/bnmiokkpp" #linkInput>
            <mat-error *ngIf="linkFormControl.hasError('required')">
                Link nie może być pusty
            </mat-error>
            <mat-error *ngIf="linkFormControl.hasError('maxlength') && !linkFormControl.hasError('required')">
                Max 50 znaków
            </mat-error>
        </mat-form-field>

        <div class="divider"></div>

        <button mat-stroked-button [disabled]="!titleFormControl.valid || !linkFormControl.valid" (keyup.enter)="add()"
            (click)="add()">Dodaj</button>
    </form>

    <div class="tekst">
        <table mat-table [dataSource]="zadania" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-diagram">
                            <div class="example-element-symbol">
                                <button mat-stroked-button (click)="openLinkInNewTab(element.link);">Otwórz</button>
                                &nbsp; <button mat-raised-button color="warn"
                                    (click)="selectLink(element.id, element.tytul);">Skasuj</button> &nbsp;
                                {{element.ocena}}
                            </div>

                        </div>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>

</div>

<jw-modal id="helpModal">
    <h2>Instrukcja</h2>
    <br>
    <h3>Co zrobić aby zapisać zadanie:</h3>
    <p>
        1. Zapisz wszystkie pliki
        <br>
        2. Kliknij niebieski przycisk "Fork", który znajduje się na górnym panelu po otwarciu projektu
        <br>
        3. Gdy przycisk zmieni kolor na szary, kliknij przycisk "Share"
        <br>
        4. Pojawi się okno, wktórym będzie pole o nazwie: "EDITOR URL". Skopiuj link
        <br>
        5. Kliknij w dowolne miejsce poza oknem, które się otwarło, aby je zamknąć
        <br>
        6. Na dole strony widzisz listę swoich zadań oraz pola wymagane, aby dodać noew zadanie. Wpisz tytuł oraz wklej
        skopiowany link
        <br>
        7. Kliknij dodaj
        <br>
        8. Twoje zadanie pojawi się na dole listy
    </p>
    <button mat-stroked-button (click)="closeModal('helpModal');">Zamknij</button>
</jw-modal>

<jw-modal id="confirmDeleteModal">
    <h2>Skasuj link</h2>
    <p>Czy na pewno chcesz skasować "{{selectedTitleToDelete}}" ?</p>
    <button mat-stroked-button (click)="closeModal('confirmDeleteModal');">Zamknij</button>
    <button mat-raised-button (click)="confirmDeleteModal();" color="warn" style="float:right">Skasuj</button>
</jw-modal>