.post {
    border-bottom: 1px solid #808080;
    white-space: pre-wrap;
}

.date {
    font-size: 10px;
    color: #707070;
}

.user {
    font-size: 10px;
    margin-left: 5px;
}

h2 {
    margin-bottom: 0;
}

.postContent {
    padding: 15px;
}
